@import "compass";
@import "compass/reset";
@import "susy";
@import "breakpoint";

$susy: (
  columns: 12,
  column-width: 4rem,
  gutter-width: 1rem,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside-static,
  //debug: (image: show)
);

@include border-box-sizing;

$backgroundColor: #d3e4ba;
$primaryColor: #090909;
$secondaryColor: $backgroundColor;

$fontSize: 18px;
$font: "PT Sans";
@include font-face($font, font-files("PTS55F-webfont.woff", "PTS55F-webfont.ttf", "PTS55F-webfont.svg"), "PTS55F-webfont.eot");

$headerHeight: 50px;

$nukaInnerWidth: 349px;
$nukaInnerHeight: 579px;
$nukaTopStart: 121px;

// breakpoints
$small: 640px;
$small-only: 0px $small;
$medium: 1024px;
$medium-up: ($small + 1px);
$medium-only: ($small + 1px) $medium;
$large: 1440px;
$large-up: ($medium + 1px);
$large-only: ($medium + 1px) $large;
