html, body {
  height: 100%;
  overflow: hidden;
}

body {

}

.container {
  @include container();
}

body {

  @include breakpoint($large-up) {
    background-image: url(../images/nuka.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #333;
  }
}


#outerWrapper, #wrapper {
  height: 100%;
}

#outerWrapper {
  background-color: $backgroundColor;
  background-image: url(../images/bg.jpg);
  box-shadow: inset 0 0px 7px 1px rgba(0,0,0,0.8);

  @include breakpoint($large-up) {
    position: absolute;
    top: $nukaTopStart;
    left: 50%;
    transform: translateX(-50%);
    /*background-color: transparent;
    background-image: none;*/
    width: $nukaInnerWidth;
    height: $nukaInnerHeight;
  }
}

#contentWrapper {
  padding-top:$headerHeight;
  @include span(12 of 12);
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

#contentWrapper * {
  -webkit-transform: translate3d(0,0,0);
}

.content {
  padding: 0.5rem 0;
}
