form {
    margin: 1rem 0;
}

input, select {
    background-color: transparent;
    border: 1px solid black;
    border-style: none none solid none;
    text-align: right;
}

input {
  &.ng-invalid {
    border-color: red;
  }
  &.ng-valid {
    border-color: green;
  }
}

button {
    background-color: $primaryColor;
    color: $secondaryColor;
    border: none;
    padding: 0.5rem;
}