body {
    font-size: $fontSize;
    @include fontFamily();
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

h1, h2, h3, h4 {
    small {
        font-size: 0.8em;
    }
}

input, select, button {
    @include fontFamily();
    font-size: $fontSize;
}
